.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #6b8cd8, #a487f2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input {
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-icon {
    width: 40px;
    height: 40px;
    background-color: #ebfffc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-icon img {
    width: 20px;
    height: 20px;
}

.weather-icon {
    width: 70px;
    margin: 30px 0;
}

.temperature {
    color: #fff;
    font-size: 50px;
    line-height: 1;
}

.location {
    color: #fff;
    font-size: 20px;
}

.weather-data {
    width: 100%;
    margin-top: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    font-size: 20px;
}

.weather-data .col img {
    width: 60px;
    height: 60px;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-container {
    /* eski background yerine bunu bırak: */
    transition: background-color 0.6s ease;
    padding: 30px;
    border-radius: 16px;
}